@model LinkerPad.Models.Report.ReportViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportResult</title>
</head>
<body>
    <div id="daily-activity-container">
        @foreach (var dailyActivityViewModel in Model.DailyActivitesViewModel)
        {
            <div id="daily-activity">
                <label>عنوان</label>
                <span>@dailyActivityViewModel.Title</span>

                <label>تعداد نفرات</label>
                <span>@dailyActivityViewModel.NumberOfCrew</span>

                <label>تعداد ساعت کاری</label>
                <span>@dailyActivityViewModel.WorkHours</span>

                <label>حجم کار انجام شده</label>
                <span>@dailyActivityViewModel.Workload</span>
                <span>@dailyActivityViewModel.WorkloadUnit</span>

                <label>توضیحات</label>
                <span>@dailyActivityViewModel.Description</span>
            </div>
        }
    </div>
    <div id="equipment-container">
        @foreach (var equipmentViewModel in Model.EquipmentViewModel)
        {
            <div id="equipment">
                <label>عنوان</label>
                <span>@equipmentViewModel.Title</span>

                <label>تعداد ماشین آلات فعال</label>
                <span>@equipmentViewModel.NumberOfActiveEquipment</span>

                <label>تعداد ماشین آلات غیرفعال</label>
                <span>@equipmentViewModel.NumberOfDeactiveEquipment</span>

                <label>ساعت کارکرد</label>
                <span>@equipmentViewModel.WorkHours</span>

                <label>توضیحات</label>
                <span>@equipmentViewModel.Description</span>
            </div>
        }
    </div>
    <div id="equipment-container">
        @foreach (var materialViewModel in Model.MaterialsViewModel)
        {
            <div id="equipment">
                <label>عنوان</label>
                <span>@materialViewModel.Title</span>

                <label>مقدار مصرف شده</label>
                <span>@materialViewModel.ConsumedQuantity</span>
                <span>@materialViewModel.ConsumedQuantityUnit</span>

                <label>توضیحات</label>
                <span>@materialViewModel.Description</span>
            </div>
        }
    </div>
</body>
</html>
